
  footer {
    background-color: #121315;
    color: #ffffff;
    font-size: 0.75rem;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .fila {
    padding: 2em 1em;
  }
  .fila.primary {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  @media (max-width: 768px) {
    .fila.primary {
      flex-direction: column;
    }
  }

  .columna {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 10em;
  }

  .footer-h3 {
    width: 100%;
    text-align: left;
    color: #2a8ded;
    font-size: 1.6em;
    white-space: nowrap;
  }
  .footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footer-li:not(:first-child) {
    margin-top: 0.8em;
  }
  .footer-ul .footer-li .footer-a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer-ul .footer-li .footer-a:hover {
    color: #2a8ded;
  }
  