@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Paleta: 2b2d42-8d99ae-f8f32b-ffffff-000000 */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    padding: 48px 32px 0;
    color: #fff;
    background-color: #000;
    font-size: 0.75rem;

}

@media (min-width: 768px) {
    header {
        padding: 32px 0px 32px 51px;
        margin-bottom: 0px;
    }
}

.wrapper {
    flex: 3 1 0%;
    display: flex;
    justify-content: center;
    padding: 32px;
    background: linear-gradient(#2b2d42, #8d99ae);
}

@media (max-width: 767px) {
        .wrapper {
            background: #fff;
            
        }
        
}

.form-wrapper{
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
    /*box-shadow: 0 0  10px rgba(0, 0, 0, 0.3);*/
}

form{
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 30px;
    color: #555;
    text-align: center;
}

.input-group {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 10px 0;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0  10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    font-size: 12px;
    background: #fff;
}

.btn {
    color: #fff;
    background: linear-gradient(to right, #2b2d42 60%, #d3d022);
    width: 100%;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    margin: 20px 0;
}

.auth-git {
    background:#2b2d42 ;
    
}
.auth-git i {
    padding-right: 4px;
    
}

.sign-link {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.sign-link p{
    color: #333;
}

.sign-link p a {
    color: #d3d022;
    text-decoration: none;
    font-weight: 600;
}

.sign-link p a:hover{
    text-decoration: underline;
}

.divider{
    margin: 10px 0;
    display: flex;
    gap: 5px;
    align-items: center;
}

.divider::before{
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.divider::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

