<header class="mb-3">
    <h1>CityBike</h1>
</header>
<main>
    <div class="container-md mx-auto">
        <h2>Iniciar sesión</h2>
        {{!-- Formulario de inicio de sesión --}}
        <form class="mb-3" action="/login" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Contraseña</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                </div>
            </div>
            <button class="btn btn-primary" type="button">Iniciar Sesión</button>
        </form>

        {{!-- Icono de OAuth2 de GitHub --}}
        <a href="/auth/github">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub Icon" width="30" height="30">
            Iniciar sesión con GitHub
        </a>
    </div>

</main>
