<link rel="stylesheet" href="/stylesheets/login.css">
<header>
    <h1>CityBike</h1>
</header>
<main class="wrapper">
    <div class="form-wrapper sig-in">
        <form action="">
            <h2 style="margin: 30px 0;">Inicia sesión en CityBike</h2>
            <div class="input-group">
                <input type="text" required>
                <label for="">Nombre usuario</label>
            </div>
            <div class="input-group">
                <input type="password" required>
                <label for="">Contraseña</label>
            </div>
            <button type="submit" class="btn">Iniciar sesión</button>
            <div class="divider">
                <p>También puedes</p>
            </div>
            <button type="submit" class="btn auth-git">
             <i class="fab fa-github me-2"></i>Continua con GitHub
            </button>
            <div class="sign-link">
                <p>¿No tienes cueanta? <a href="#" class="signup-link">Registrate</a></p>
            </div>
        </form>
    </div>
</main>